<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ParkingSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ParkingSystem.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <partial name="_GlobalModal" />

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow justify-content-between">
            <div>
                <a class="navbar-brand" asp-area="" asp-controller="Usuarios" asp-action="Login"><img src="https://fotos.pandape.com/PROD/atslogos/6f7da0d2-e471-4d14-9626-a247a9d95e0c_4.png" class="img-fluid" style="height:50px" /></a>
            </div>
            <div>
                <a class="navbar-brand" data-bs-toggle="dropdown"><img src="https://icon-library.com/images/name-icon-png/name-icon-png-9.jpg" class="img-fluid" style="height:30px" /></a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><button class="dropdown-item" type="button">Nombre</button></li>
                    <li><button class="dropdown-item" type="button">Cerrar Sesión</button></li>
                </ul>
            </div>
        </nav>

        <nav class="navbar navbar-expand-lg navbarColor">
            <div class="container-fluid">
                <a class="navbar-brand text-white d-lg-none d-sm-block navTxtColor" href="/">Menu</a>

                <button class="navbar-toggler navTxtColor" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item text-center">
                            <a class="nav-link navTxtColor" asp-action="Panel" asp-controller="Home">
                                <i class="fa-solid fa-solar-panel d-lg-block d-none" style="font-size: 1.5rem;"></i>
                                    <span class="align-items-left">Panel</span>
                            </a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link navTxtColor" asp-action="Panel" asp-controller="Home">
                                <i class="fa-solid fa-car d-lg-block d-none" style="font-size: 1.5rem;"></i>
                                <span class="align-items-left">Vehículos</span>
                            </a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link navTxtColor" asp-action="CardES" asp-controller="EyS">
                                <i class="fa-solid fa-square-parking d-lg-block d-none" style="font-size: 1.5rem;"></i>
                                <span class="align-items-left">E & S</span>
                            </a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link navTxtColor" asp-action="Login" asp-controller="Usuarios">
                                <i class="fa-solid fa-users d-lg-block d-none" style="font-size: 1.5rem;"></i>
                                <span class="align-items-left">Usuarios</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center p-2">
        <div class="container">
            &copy; 2025 - ParkingSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/global.js" asp-append-version="true"></script>
    @await Html.PartialAsync("_GlobalModal")
</body>
</html>
