@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Registrar";
}

<div class="container-fluid" style="width: 100%;">
    <header>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </header>

    <div class="row d-flex justify-content-center align-items-center mt-5">
        <div class="col-12 col-md-3 col-xl-6 mt-5 d-none d-md-block col d-flex align-items-center justify-content-center">
            <img src="https://static.vecteezy.com/system/resources/previews/039/532/205/non_2x/parking-app-line-yellow-lieanr-circle-iconyellow-lieanr-circle-icon-vector.jpg" class="img-fluid" width="250" />
        </div>

        <div class="col-12 col-md-3 col-xl-6 mb-4">
            <div class="row">
                <h1 style="text-align:center" class="mb-5">Registrar</h1>
                <form id="loginForm">
                    <div class="mb-4">
                        <div class="input-group col-12">
                            <div class="input-group-prepend">
                                <span class="input-group-text d-inline-block"><i class="fa-solid fa-user"></i></span>
                            </div>
                            <input type="email" id="email" name="email" class="form-control input-valid-out" placeholder="Email address" required>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="input-group col-12">
                            <div class="input-group-prepend">
                                <button id="btnPass" name="btnPass" class="btn btn-outline-secondary" type="button"><i class="fa-solid fa-lock"></i></button>
                            </div>
                            <input id="pass" name="pass" type="password" class="form-control password input-valid-out" placeholder="Password" required />
                        </div>
                    </div>

                    <div class="mb-5">
                        <div class="input-group col-12">
                            <div class="input-group-prepend">
                                <button id="btnPass2" name="btnPass2" class="btn btn-outline-secondary" type="button"><i class="fa-solid fa-lock"></i></button>
                            </div>
                            <input id="pass2" name="pass2" type="password" class="form-control password input-valid-out" placeholder="Password" required />
                        </div>
                    </div>

                    <div class="col-12 mb-1">
                        <button class="btn btn-github" type="submit"><i class="fa-solid fa-address-card"></i>  REGISTER</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            function GetUrl(action, controller) {
                const urlBase = '@Url.Action("__action__", "__controller__")';
                return urlBase.replace("__action__", action).replace("__controller__", controller);
            }

            $(document).ready(function () {
                const $botonPass = $("#btnPass");
                const $inputPass = $("#pass");
                const $botonPass2 = $("#btnPass2");
                const $inputPass2 = $("#pass2");

                $botonPass.on("click", function (event) {
                    if ($inputPass.attr('type') === 'password') {
                        $inputPass.attr('type', 'text');
                        $botonPass.html('<i class="fa-solid fa-lock-open" > </i>')
                    } else {
                        $inputPass.attr('type', 'password');
                        $botonPass.html('<i class="fa-solid fa-lock"></i>')
                    }
                });

                $botonPass2.on("click", function (event) {
                    if ($inputPass2.attr('type') === 'password') {
                        $inputPass2.attr('type', 'text');
                        $botonPass2.html('<i class="fa-solid fa-lock-open" > </i>')
                    } else {
                        $inputPass2.attr('type', 'password');
                        $botonPass2.html('<i class="fa-solid fa-lock"></i>')
                    }
                });

                $("#loginForm").validate({
                    rules: {
                        email: {
                            required: true,
                            email: true,
                        },
                        pass: {
                            required: true,
                            minlength: 8
                        },
                        pass2: {
                            required: true,
                            minlength: 8,
                            equalTo: "#pass"
                        }
                    },
                    messages: {
                        email: {
                            required: "Email requerido",
                            email: "Por favor, introduce un email válido"
                        },
                        pass: {
                            required: "Contraseña necesaria",
                            minlength: "La contraseña debe tener al menos 8 caracteres"
                        },
                        pass2: {
                            required: "Contraseña necesaria",
                            minlength: "La contraseña debe tener al menos 8 caracteres",
                            equalTo: "La contraseña debe ser igual en ambos campos"
                        }
                    },
                    submitHandler: function (form) {
                        var url = GetUrl("Login", "Usuarios");

                        $.ajax({
                            type: 'post',
                            url: url,
                            beforeSend: function () {
                                mostrarModal();
                            },
                            success: function (data) {
                                Swal.fire({
                                    title: "Redirigiendo...",
                                    text: "Registro Exitoso",
                                    showConfirmButton: false,
                                    timer: 2000,
                                    icon: "success"
                                });

                                setTimeout(function () {
                                    ocultarModal();
                                    window.location.href = url;
                                }, 3000);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.error("Error en la solicitud:", textStatus, errorThrown);
                            },
                            complete: function (jqXHR, textStatus) {
                                console.log("Solicitud completada con estado:", textStatus);
                            }
                        });
                    },
                    errorPlacement: function (error, element) {
                        if (element.hasClass("input-valid-out")) {
                            error.insertAfter(element.parent());
                        } else {
                            error.insertAfter(element);
                        }
                    },
                    errorElement: 'label',
                    errorClass: 'alert alert-danger alert-validate',
                });
            });
        </script>   
    }
</div>