@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "UsuariosView";
}
    
<div class="container-fluid" style="width: 100%;">
    <header>
        <partial name="_ModalAddUser" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link href="https://cdn.grapecity.com/wijmo/5.20242.30/styles/wijmo.min.css" rel="stylesheet">
    </header>

    <div class="row d-flex justify-content-center mt-5">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between" style="font-size: 1.5rem;">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-users d-lg-block d-none me-2" style="font-size: 2rem;"></i>
                    <h5 class="mb-0">Usuarios</h5>
                </div>

                <div>
                    <button class="btn btn-add-usuarios me-2" id="btnReload" name="btnReload"><i class="fa-solid fa-rotate"></i></button>
                    <button class="btn btn-del-usuarios" id="btnAddUser" name="btnAddUser"><i class="fa-solid fa-user-plus"></i></button>
                </div>
            </div>

            <div class="card-body">
                <div id="usuariosGrid"></div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>

        <script src="https://cdn.grapecity.com/wijmo/5.20242.30/controls/wijmo.min.js"></script>
        <script src="https://cdn.grapecity.com/wijmo/5.20242.30/controls/wijmo.input.min.js"></script>
        <script src="https://cdn.grapecity.com/wijmo/5.20242.30/controls/wijmo.grid.min.js"></script>
        <script src="https://cdn.grapecity.com/wijmo/5.20242.30/controls/wijmo.grid.filter.min.js"></script>
        <script src="https://cdn.grapecity.com/wijmo/5.20242.30/controls/wijmo.grid.cellmaker.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            var gridUsuarios = null;
            const $btnReload = $("#btnReload");
            const $btnAddUser = $("#btnAddUser");
            const urlGetUsuarios = '@(Url.Action("GetUsuarios", "ParkingSystem"))';
            
            function verUsuarios() {
                $.ajax({
                    type: 'post',
                    data: {
                    },
                    url: urlGetUsuarios,
                    success: function (datos) {
                        gridUsuarios.itemsSource = datos.data;
                    },
                    error: function () {
                        console.error("Error al obtener los vehiculos.");
                    }
                });
            }

            $(document).ready(function () {
                gridUsuarios = new wijmo.grid.FlexGrid('#usuariosGrid', {
                    autoGenerateColumns: false,
                    headersVisibility: 'Column',
                    columns: [
                        { binding: 'idUsuario', header: 'Id', width: 100 },
                        { binding: 'nombre', header: 'Nombre', width: 150 },
                        { binding: 'apellido', header: 'Apellido', width: 150 },
                        { binding: 'correo', header: 'Correo', width: '*' },
                        { binding: 'imagen', header: 'Imagen', width: 200 },
                        { binding: '', header: '', width: 200 } 
                    ],
                    isReadOnly: true
                });

                $btnReload.on("click", function (event) {
                    Swal.fire({
                        title: "Recargando...",
                        text: "Refrescando información",
                        showConfirmButton: false,
                        timer: 2000,
                        icon: "info"
                    });
                });

                $btnAddUser.on("click", function (event) {
                    mostrarAddUserModal();
                });

                verUsuarios();
            });
        </script>
    }
</div>