@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "EyS";
}

<div class="container-fluid" style="vh-100">
    <header>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link href="https://cdn.grapecity.com/wijmo/5.20242.30/styles/wijmo.min.css" rel="stylesheet">
    </header>

    <div class="row d-flex justify-content-center align-items-center mt-5">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between" style="font-size: 1.5rem;">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-square-parking" style="font-size: 2rem; margin-right: 8px;"></i>
                    <h5 class="mb-0">Entradas y Salidas</h5>
                </div>

                <div>
                    <button class="btn btn-add-usuarios me-2" id="btnReload1" name="btnReload1"><i class="fa-solid fa-rotate"></i></button>
                </div>
            </div>

            <div class="card-body">
                <h5 class="card-title">Fecha</h5>

                <div class="mb-3 d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center gap-3">
                        <div id="dateRange"></div>
                        <div class="form-check d-flex align-items-center gap-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label text-start" for="flexCheckDefault">
                                Todos
                            </label>
                        </div>
                    </div>

                    <div class="input-group w-auto">
                        <div class="input-group-prepend">
                            <button id="btnPass" name="btnPass" class="btn btn-outline-secondary" type="button"><i class="fa-solid fa-circle-plus"></i></button>
                        </div>
                        <input type="text" id="carPlate" name="carPlate" class="form-control input-valid-out" placeholder="Nueva placa" maxlength="7">
                    </div>
                </div>

                <div id="gridES"></div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>

        <script src="https://cdn.grapecity.com/wijmo/5.20242.30/controls/wijmo.min.js"></script>
        <script src="https://cdn.grapecity.com/wijmo/5.20242.30/controls/wijmo.input.min.js"></script>
        <script src="https://cdn.grapecity.com/wijmo/5.20242.30/controls/wijmo.grid.min.js"></script>
        <script src="https://cdn.grapecity.com/wijmo/5.20242.30/controls/wijmo.grid.filter.min.js"></script>
        <script src="https://cdn.grapecity.com/wijmo/5.20242.30/controls/wijmo.grid.cellmaker.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            $(document).ready(function () {
                var gridES = null;
                const $btnReload1 = $("#btnReload1");
                var dateRange;
                const urlGetUsuarios = '@(Url.Action("GetEntradasSalidas", "ParkingSystem"))';

                function verEntradasSalidas() {
                    $.ajax({
                        type: 'post',
                        data: {
                        },
                        url: urlGetUsuarios,
                        success: function (datos) {
                            gridES.itemsSource = datos.data;
                        },
                        error: function () {
                            console.error("Error al obtener los vehiculos.");
                        }
                    });
                }

                dateRange = new wijmo.input.InputDate('#dateRange', {
                    placeholder: 'Selecciona una fecha',
                });

                $btnReload1.on("click", function (event) {
                    Swal.fire({
                        title: "Recargando...",
                        text: "Refrescando información",
                        showConfirmButton: false,
                        timer: 2000,
                        icon: "info"
                    });
                });

                gridES = new wijmo.grid.FlexGrid('#gridES', {
                    autoGenerateColumns: false,
                    headersVisibility: 'Column',
                    columns: [
                        { binding: 'idEntrada_Salida', header: 'Id', width: 100 },
                        { binding: 'folio', header: 'Folio', width: '*' },
                        { binding: 'carro', header: 'Carro', width: 100 },
                        { binding: 'fechaEntrada', header: 'Fecha Entrada', width: 200 },
                        { binding: 'fechaSalida', header: 'Fecha Salida', width: 200 },
                        { binding: '', header: '', width: 200 },
                    ],
                    isReadOnly: true
                });
                verEntradasSalidas();
            });
        </script>
    }
</div>