@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "EyS";
}

<div class="container-fluid" style="width: 100%;">
    <header>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link href="https://cdn.grapecity.com/wijmo/5.20242.30/styles/wijmo.min.css" rel="stylesheet">
    </header>

    <div class="row d-flex justify-content-center align-items-center mt-5">
        <div class="card">
            <h5 class="card-header d-flex align-items-center" style="font-size: 1.5rem;">
                <i class="fa-solid fa-square-parking" style="font-size: 2rem; margin-right: 8px;"></i>
                Entradas y Salidas
            </h5>

            <div class="card-body">
                <h5 class="card-title">Fecha</h5>

                <div class="mb-3">
                    <div class="input-group col-2">
                        <div class="input-group-prepend">
                            <button id="btnCal" name="btnCal" class="btn btn-outline-secondary" type="button"><i class="fa-regular fa-calendar"></i></button>
                        </div>
                    </div>
                </div>

                <div id="gridES"></div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>

        <script src="https://cdn.grapecity.com/wijmo/5.20242.30/controls/wijmo.min.js"></script>
        <script src="https://cdn.grapecity.com/wijmo/5.20242.30/controls/wijmo.input.min.js"></script>
        <script src="https://cdn.grapecity.com/wijmo/5.20242.30/controls/wijmo.grid.min.js"></script>
        <script src="https://cdn.grapecity.com/wijmo/5.20242.30/controls/wijmo.grid.filter.min.js"></script>
        <script src="https://cdn.grapecity.com/wijmo/5.20242.30/controls/wijmo.grid.cellmaker.min.js"></script>

        <script>
            $(document).ready(function () {
                const $gridES = $("#gridES");
                const $btnCal = $("#btnCal");

                gridES = new wijmo.grid.FlexGrid('#gridES', {
                    autoGenerateColumns: false,
                    headersVisibility: 'Column',
                    columns: [
                        { binding: 'folio', header: 'Folio', width: 100 },
                        { binding: 'correo', header: 'Correo', width: 200 },
                        { binding: 'fechaEntrada', header: 'Fecha Entrada', width: 200 },
                        { binding: 'fechaSalida', header: 'Fecha Salida', width: 200 },
                        { binding: '', header: '', width: 200 },
                    ]
                });

                $btnCal.on("click", function (event) {
                    if ($btnCal.html() === '<i class="fa-solid fa-calendar"></i>') {
                        $btnCal.html('<i class="fa-regular fa-calendar"></i>');
                    } else {
                        $btnCal.html('<i class="fa-solid fa-calendar"></i>');
                    }
                });

                /*
                function verVehiculos() {
                    $.ajax({
                        type: 'post',
                        data: {},
                        url: "Vehiculo/GetVehiculo",
                        success: function (datos) {
                            gridVehiculos.itemsSource = datos.data;
                        },
                        error: function () {
                            console.error("Error al obtener los vehiculos.");
                        }
                    });
                }*/
            });
        </script>
    }
</div>