@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid" style="width: 100%;">
    <header>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </header>

    <div class="row d-flex justify-content-center align-items-center mt-5">
        <div class="col-12 col-md-3 col-xl-6 mt-5 d-none d-md-block col d-flex align-items-center justify-content-center">
            <img src="https://static.vecteezy.com/system/resources/previews/039/532/205/non_2x/parking-app-line-yellow-lieanr-circle-iconyellow-lieanr-circle-icon-vector.jpg" class="img-fluid" width="50%" />
        </div>

        <div class="col-12 col-md-3 col-xl-6 mb-4">
            <div class="row">
                <h1 style="text-align:center" class="mb-5">Panel</h1>
                <form id="loginForm">
                    <div class="mb-4">
                        <div class="input-group col-12">
                            <div class="input-group-prepend">
                                <span class="input-group-text d-inline-block"><i class="fa-solid fa-user"></i></span>
                            </div>
                            <input type="email" id="email" name="email" class="form-control input-valid-out" placeholder="Email address" required>
                        </div>
                    </div>

                    <div class="mb-5">
                        <div class="input-group col-12">
                            <div class="input-group-prepend">
                                <button id="btnPass" name="btnPass" class="btn btn-outline-secondary" type="button"><i class="fa-solid fa-lock"></i></button>
                            </div>
                            <input id="pass" name="pass" type="password" class="form-control password input-valid-out" placeholder="Password" required />
                        </div>
                    </div>

                    <div class="col-12 mb-1">
                        <button class="submit" type="submit" style="color:white; background-color:dodgerblue"><i class="fa-solid fa-door-open"></i>  LOGIN</button>
                    </div>
                </form>

                <div class="col-12">
                    <label>Don't have an account? <strong style="color:cornflowerblue">Register</strong></label>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>

        <script>
            $(document).ready(function () {
                const $botonPass = $("#btnPass");
                const $inputPass = $("#pass");

                $botonPass.on("click", function (event) {
                    if ($inputPass.attr('type') === 'password') {
                        $inputPass.attr('type', 'text');
                        $botonPass.html('<i class="fa-solid fa-lock-open" > </i>')
                    } else {
                        $inputPass.attr('type', 'password');
                        $botonPass.html('<i class="fa-solid fa-lock"></i>')
                    }
                });

                $("#loginForm").validate({
                    rules: {
                        email: {
                            required: true,
                            email: true,
                        },
                        pass: {
                            required: true,
                            minlength: 8
                        }
                    },
                    messages: {
                        email: {
                            required: "Email requerido",
                            email: "Por favor, introduce un email válido"
                        },
                        pass: {
                            required: "Contraseña necesaria",
                            minlength: "La contraseña debe tener al menos 6 caracteres"
                        }
                    },
                    submitHandler: function (form) {
                        alert("Todo bien");
                        window.location.href = '/';
                    },
                    errorPlacement: function (error, element) {
                        if (element.hasClass("input-valid-out")) {
                            error.insertAfter(element.parent());
                        } else {
                            error.insertAfter(element);
                        }
                    },
                    errorElement: 'label',
                    errorClass: 'alert alert-danger alert-validate',
                });
            });
        </script>
    }
</div>